# Project Title
### Data Engineering Capstone Project

#### Project Summary
The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
!pip install datapackage
!pip install geopy
!pip install pycountry-convert
!pip install s3fs
!pip install boto
import pandas as pd
import boto
import s3fs
from datapackage import Package
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import requests
from pyspark.sql.functions import isnan, when, count, col
import os
import configparser
from pyspark.sql.functions import lit 
import pyspark.sql.types as t
from datetime import datetime
from datetime import timedelta
import boto3
from io import StringIO
import sys
config = configparser.ConfigParser()
config.read('dl.cfg')
os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

Collecting datapackage
  Downloading https://files.pythonhosted.org/packages/53/f3/d70f2f7dcb9883e586fa54f3937b9281242bde7751ed3162b4cdb047240e/datapackage-1.15.2-py2.py3-none-any.whl (85kB)
    100% |████████████████████████████████| 92kB 5.7MB/s ta 0:00:011
Requirement already satisfied: click>=6.7 in /opt/conda/lib/python3.6/site-packages (from datapackage) (6.7)
Collecting tableschema>=1.12.1 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/45/16/4ef6cb5315b8e9fcf124cc914ac1920d76f9ac25859d3a2eeee3e329ae31/tableschema-1.20.2-py2.py3-none-any.whl (68kB)
    100% |████████████████████████████████| 71kB 8.9MB/s eta 0:00:01
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.6/site-packages (from datapackage) (1.11.0)
Requirement already satisfied: jsonschema>=2.5 in /opt/conda/lib/python3.6/site-packages (from datapackage) (2.6.0)
Collecting jsonpointer>=1.10 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/23/52/05f67532aa922e494c351344e0d9624a01f74f5dd8402fe0d1b563a6e6fc/jsonpointer-2.1-py2.py3-none-any.whl
Collecting unicodecsv>=0.14 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/6f/a4/691ab63b17505a26096608cc309960b5a6bdf39e4ba1a793d5f9b1a53270/unicodecsv-0.14.1.tar.gz
Collecting tabulator>=1.29 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/89/2f/257d0a628c51fbe3fc00e04891e9c652d024ea764836174b5468db2976a8/tabulator-1.53.4-py2.py3-none-any.whl (72kB)
    100% |████████████████████████████████| 81kB 7.3MB/s ta 0:00:011
Requirement already satisfied: chardet>=3.0 in /opt/conda/lib/python3.6/site-packages (from datapackage) (3.0.4)
Requirement already satisfied: requests>=2.8 in /opt/conda/lib/python3.6/site-packages (from datapackage) (2.18.4)
Collecting isodate>=0.5.4 (from tableschema>=1.12.1->datapackage)
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
    100% |████████████████████████████████| 51kB 8.4MB/s ta 0:00:011
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/lib/python3.6/site-packages (from tableschema>=1.12.1->datapackage) (2.6.1)
Collecting cached-property>=1.5 (from tableschema>=1.12.1->datapackage)
  Downloading https://files.pythonhosted.org/packages/48/19/f2090f7dad41e225c7f2326e4cfe6fff49e57dedb5b53636c9551f86b069/cached_property-1.5.2-py2.py3-none-any.whl
Collecting rfc3986>=1.1.0 (from tableschema>=1.12.1->datapackage)
  Downloading https://files.pythonhosted.org/packages/78/be/7b8b99fd74ff5684225f50dd0e865393d2265656ef3b4ba9eaaaffe622b8/rfc3986-1.4.0-py2.py3-none-any.whl
Collecting ijson>=3.0.3 (from tabulator>=1.29->datapackage)
  Downloading https://files.pythonhosted.org/packages/89/ff/5c908dbbdcb8387d11632904af0f9b60b8508a2655070a0baf511f0cec06/ijson-3.1.4-cp36-cp36m-manylinux1_x86_64.whl (124kB)
    100% |████████████████████████████████| 133kB 7.8MB/s ta 0:00:01
Collecting linear-tsv>=1.0 (from tabulator>=1.29->datapackage)
  Downloading https://files.pythonhosted.org/packages/82/e5/03207a0f11e1d60df85b97b61704ed701b725a7c2feaf83f7bfbd0c2d83e/linear-tsv-1.1.0.tar.gz
Requirement already satisfied: xlrd>=1.0 in /opt/conda/lib/python3.6/site-packages (from tabulator>=1.29->datapackage) (1.1.0)
Collecting jsonlines>=1.1 (from tabulator>=1.29->datapackage)
  Downloading https://files.pythonhosted.org/packages/d4/58/06f430ff7607a2929f80f07bfd820acbc508a4e977542fefcc522cde9dff/jsonlines-2.0.0-py3-none-any.whl
Requirement already satisfied: sqlalchemy>=0.9.6 in /opt/conda/lib/python3.6/site-packages (from tabulator>=1.29->datapackage) (1.1.13)
Collecting openpyxl>=2.6 (from tabulator>=1.29->datapackage)
  Downloading https://files.pythonhosted.org/packages/39/08/595298c9b7ced75e7d23be3e7596459980d63bc35112ca765ceccafbe9a4/openpyxl-3.0.7-py2.py3-none-any.whl (243kB)
    100% |████████████████████████████████| 245kB 8.1MB/s ta 0:00:01
Requirement already satisfied: boto3>=1.9 in /opt/conda/lib/python3.6/site-packages (from tabulator>=1.29->datapackage) (1.9.7)
Requirement already satisfied: idna<2.7,>=2.5 in /opt/conda/lib/python3.6/site-packages (from requests>=2.8->datapackage) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /opt/conda/lib/python3.6/site-packages (from requests>=2.8->datapackage) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.6/site-packages (from requests>=2.8->datapackage) (2019.11.28)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.6/site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.0.1)
Requirement already satisfied: botocore<1.13.0,>=1.12.7 in /opt/conda/lib/python3.6/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (1.12.7)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.6/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.9.3)
Requirement already satisfied: s3transfer<0.2.0,>=0.1.10 in /opt/conda/lib/python3.6/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.1.13)
Requirement already satisfied: docutils>=0.10 in /opt/conda/lib/python3.6/site-packages (from botocore<1.13.0,>=1.12.7->boto3>=1.9->tabulator>=1.29->datapackage) (0.14)
Building wheels for collected packages: unicodecsv, linear-tsv
  Running setup.py bdist_wheel for unicodecsv ... done
  Stored in directory: /root/.cache/pip/wheels/a6/09/e9/e800279c98a0a8c94543f3de6c8a562f60e51363ed26e71283
  Running setup.py bdist_wheel for linear-tsv ... done
  Stored in directory: /root/.cache/pip/wheels/3f/8a/cb/38917fd1ef4356b9870ace7331b83417dc594bf2c029bd991f
Successfully built unicodecsv linear-tsv
Installing collected packages: ijson, linear-tsv, jsonlines, unicodecsv, openpyxl, tabulator, isodate, cached-property, rfc3986, tableschema, jsonpointer, datapackage
  Found existing installation: openpyxl 2.5.0b1
    Uninstalling openpyxl-2.5.0b1:
      Successfully uninstalled openpyxl-2.5.0b1
Successfully installed cached-property-1.5.2 datapackage-1.15.2 ijson-3.1.4 isodate-0.6.0 jsonlines-2.0.0 jsonpointer-2.1 linear-tsv-1.1.0 openpyxl-3.0.7 rfc3986-1.4.0 tableschema-1.20.2 tabulator-1.53.4 unicodecsv-0.14.1
Collecting geopy
  Downloading https://files.pythonhosted.org/packages/0c/67/915668d0e286caa21a1da82a85ffe3d20528ec7212777b43ccd027d94023/geopy-2.1.0-py3-none-any.whl (112kB)
    100% |████████████████████████████████| 112kB 4.5MB/s ta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.1.0
Collecting pycountry-convert
  Downloading https://files.pythonhosted.org/packages/9b/e7/26c14899a43c34e04a58e3772007afe79dbd64fac15d2fbaeedff24082f2/pycountry_convert-0.7.2-py3-none-any.whl
Collecting repoze.lru>=0.7 (from pycountry-convert)
  Downloading https://files.pythonhosted.org/packages/b0/30/6cc0c95f0b59ad4b3b9163bff7cdcf793cc96fac64cf398ff26271f5cf5e/repoze.lru-0.7-py3-none-any.whl
Requirement already satisfied: wheel>=0.30.0 in /opt/conda/lib/python3.6/site-packages (from pycountry-convert) (0.30.0)
Requirement already satisfied: pytest>=3.4.0 in /opt/conda/lib/python3.6/site-packages (from pycountry-convert) (4.5.0)
Collecting pprintpp>=0.3.0 (from pycountry-convert)
  Downloading https://files.pythonhosted.org/packages/4e/d1/e4ed95fdd3ef13b78630280d9e9e240aeb65cc7c544ec57106149c3942fb/pprintpp-0.4.0-py2.py3-none-any.whl
Collecting pytest-cov>=2.5.1 (from pycountry-convert)
  Downloading https://files.pythonhosted.org/packages/e3/1a/6affecd2344efee7f2487fac82242474cbac09f9e04929da5944907baf11/pytest_cov-2.11.1-py2.py3-none-any.whl
Collecting pytest-mock>=1.6.3 (from pycountry-convert)
  Downloading https://files.pythonhosted.org/packages/1d/ba/8bf763e2f300c1eba8f07506efd87a3c1c346e751d4dc618c444924b7c22/pytest_mock-3.5.1-py3-none-any.whl
Collecting pycountry>=16.11.27.1 (from pycountry-convert)
  Downloading https://files.pythonhosted.org/packages/76/73/6f1a412f14f68c273feea29a6ea9b9f1e268177d32e0e69ad6790d306312/pycountry-20.7.3.tar.gz (10.1MB)
    100% |████████████████████████████████| 10.1MB 3.0MB/s eta 0:00:01  8% |██▊                             | 849kB 10.4MB/s eta 0:00:01    45% |██████████████▋                 | 4.6MB 20.4MB/s eta 0:00:01    54% |█████████████████▍              | 5.5MB 20.5MB/s eta 0:00:01    63% |████████████████████▏           | 6.4MB 17.4MB/s eta 0:00:01    71% |███████████████████████         | 7.3MB 18.9MB/s eta 0:00:01
Requirement already satisfied: more-itertools>=4.0.0; python_version > "2.7" in /opt/conda/lib/python3.6/site-packages (from pytest>=3.4.0->pycountry-convert) (7.0.0)
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.6/site-packages (from pytest>=3.4.0->pycountry-convert) (1.11.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.6/site-packages (from pytest>=3.4.0->pycountry-convert) (38.4.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.6/site-packages (from pytest>=3.4.0->pycountry-convert) (19.1.0)
Requirement already satisfied: py>=1.5.0 in /opt/conda/lib/python3.6/site-packages (from pytest>=3.4.0->pycountry-convert) (1.8.0)
Requirement already satisfied: pluggy!=0.10,<1.0,>=0.9 in /opt/conda/lib/python3.6/site-packages (from pytest>=3.4.0->pycountry-convert) (0.11.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.6/site-packages (from pytest>=3.4.0->pycountry-convert) (0.1.7)
Requirement already satisfied: atomicwrites>=1.0 in /opt/conda/lib/python3.6/site-packages (from pytest>=3.4.0->pycountry-convert) (1.3.0)
Collecting coverage>=5.2.1 (from pytest-cov>=2.5.1->pycountry-convert)
  Downloading https://files.pythonhosted.org/packages/af/a7/c4d5a5f0dc3f06184ec5c4fdd3d8d57a8e454e677945386859238ab220e7/coverage-5.5-cp36-cp36m-manylinux1_x86_64.whl (240kB)
    100% |████████████████████████████████| 245kB 14.0MB/s ta 0:00:01
Building wheels for collected packages: pycountry
  Running setup.py bdist_wheel for pycountry ... done
  Stored in directory: /root/.cache/pip/wheels/33/4e/a6/be297e6b83567e537bed9df4a93f8590ec01c1acfbcd405348
Successfully built pycountry
pytest-cov 2.11.1 has requirement pytest>=4.6, but you'll have pytest 4.5.0 which is incompatible.
pytest-mock 3.5.1 has requirement pytest>=5.0, but you'll have pytest 4.5.0 which is incompatible.
Installing collected packages: repoze.lru, pprintpp, coverage, pytest-cov, pytest-mock, pycountry, pycountry-convert
Successfully installed coverage-5.5 pprintpp-0.4.0 pycountry-20.7.3 pycountry-convert-0.7.2 pytest-cov-2.11.1 pytest-mock-3.5.1 repoze.lru-0.7
Collecting s3fs
  Downloading https://files.pythonhosted.org/packages/a7/58/732ea1c735d725b1cc4cf365ae6326c22569a5e88c8502d13844e91f08ef/s3fs-0.5.1-py3-none-any.whl
Collecting fsspec>=0.8.0 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/91/0d/a6bfee0ddf47b254286b9bd574e6f50978c69897647ae15b14230711806e/fsspec-0.8.7-py3-none-any.whl (103kB)
    100% |████████████████████████████████| 112kB 7.1MB/s ta 0:00:01   29% |█████████▌                      | 30kB 6.8MB/s eta 0:00:01
Collecting aiobotocore>=1.0.1 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/39/12/b09f17cb971ed606bbbff5773f36837da6054eb74248e3473a126967b5ee/aiobotocore-1.2.2.tar.gz (48kB)
    100% |████████████████████████████████| 51kB 7.1MB/s eta 0:00:01
Collecting importlib-metadata; python_version < "3.8" (from fsspec>=0.8.0->s3fs)
  Downloading https://files.pythonhosted.org/packages/80/5d/0bbca82b16e01313cf0343167d4cfb90f6fade747cd4d10d368094b2883a/importlib_metadata-3.7.3-py3-none-any.whl
Collecting botocore<1.19.53,>=1.19.52 (from aiobotocore>=1.0.1->s3fs)
  Downloading https://files.pythonhosted.org/packages/e9/a8/3a70380b52a34bed791a1dcc3f5e5967c81676f452aef440416efac62cfd/botocore-1.19.52-py2.py3-none-any.whl (7.2MB)
    100% |████████████████████████████████| 7.2MB 1.6MB/s ta 0:00:011   8% |██▊                             | 604kB 9.6MB/s eta 0:00:01    30% |█████████▉                      | 2.2MB 4.7MB/s eta 0:00:02    35% |███████████▏                    | 2.5MB 9.6MB/s eta 0:00:01    41% |█████████████▏                  | 3.0MB 10.4MB/s eta 0:00:01    48% |███████████████▋                | 3.5MB 10.6MB/s eta 0:00:01
Collecting aiohttp>=3.3.1 (from aiobotocore>=1.0.1->s3fs)
  Downloading https://files.pythonhosted.org/packages/99/f5/90ede947a3ce2d6de1614799f5fea4e93c19b6520a59dc5d2f64123b032f/aiohttp-3.7.4.post0.tar.gz (1.1MB)
    100% |████████████████████████████████| 1.1MB 12.6MB/s ta 0:00:01
  Installing build dependencies ... done
Collecting wrapt>=1.10.10 (from aiobotocore>=1.0.1->s3fs)
  Downloading https://files.pythonhosted.org/packages/82/f7/e43cefbe88c5fd371f4cf0cf5eb3feccd07515af9fd6cf7dbf1d1793a797/wrapt-1.12.1.tar.gz
Collecting aioitertools>=0.5.1 (from aiobotocore>=1.0.1->s3fs)
  Downloading https://files.pythonhosted.org/packages/32/0b/3260ac050de07bf6e91871944583bb8598091da19155c34f7ef02244709c/aioitertools-0.7.1-py3-none-any.whl
Collecting typing-extensions>=3.6.4; python_version < "3.8" (from importlib-metadata; python_version < "3.8"->fsspec>=0.8.0->s3fs)
  Downloading https://files.pythonhosted.org/packages/60/7a/e881b5abb54db0e6e671ab088d079c57ce54e8a01a3ca443f561ccadb37e/typing_extensions-3.7.4.3-py3-none-any.whl
Collecting zipp>=0.5 (from importlib-metadata; python_version < "3.8"->fsspec>=0.8.0->s3fs)
  Downloading https://files.pythonhosted.org/packages/0f/8c/715c54e9e34c0c4820f616a913a7de3337d0cd79074dd1bed4dd840f16ae/zipp-3.4.1-py3-none-any.whl
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.6/site-packages (from botocore<1.19.53,>=1.19.52->aiobotocore>=1.0.1->s3fs) (0.9.3)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.6/site-packages (from botocore<1.19.53,>=1.19.52->aiobotocore>=1.0.1->s3fs) (2.6.1)
Collecting urllib3<1.27,>=1.25.4; python_version != "3.4" (from botocore<1.19.53,>=1.19.52->aiobotocore>=1.0.1->s3fs)
  Downloading https://files.pythonhosted.org/packages/09/c6/d3e3abe5b4f4f16cf0dfc9240ab7ce10c2baa0e268989a4e3ec19e90c84e/urllib3-1.26.4-py2.py3-none-any.whl (153kB)
    100% |████████████████████████████████| 153kB 16.4MB/s ta 0:00:01
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.6/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (19.1.0)
Requirement already satisfied: chardet<5.0,>=2.0 in /opt/conda/lib/python3.6/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (3.0.4)
Collecting multidict<7.0,>=4.5 (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs)
  Downloading https://files.pythonhosted.org/packages/1c/74/e8b46156f37ca56d10d895d4e8595aa2b344cff3c1fb3629ec97a8656ccb/multidict-5.1.0.tar.gz (53kB)
    100% |████████████████████████████████| 61kB 14.1MB/s ta 0:00:01
  Installing build dependencies ... done
Collecting async_timeout<4.0,>=3.0 (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs)
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Collecting yarl<2.0,>=1.0 (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs)
  Downloading https://files.pythonhosted.org/packages/97/e7/af7219a0fe240e8ef6bb555341a63c43045c21ab0392b4435e754b716fa1/yarl-1.6.3.tar.gz (176kB)
    100% |████████████████████████████████| 184kB 16.6MB/s ta 0:00:01
  Installing build dependencies ... done
Collecting idna-ssl>=1.0 (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs)
  Downloading https://files.pythonhosted.org/packages/46/03/07c4894aae38b0de52b52586b24bf189bb83e4ddabfe2e2c8f2419eec6f4/idna-ssl-1.1.0.tar.gz
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.19.53,>=1.19.52->aiobotocore>=1.0.1->s3fs) (1.11.0)
Requirement already satisfied: idna>=2.0 in /opt/conda/lib/python3.6/site-packages (from yarl<2.0,>=1.0->aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (2.6)
Building wheels for collected packages: aiobotocore, aiohttp, wrapt, multidict, yarl, idna-ssl
  Running setup.py bdist_wheel for aiobotocore ... done
  Stored in directory: /root/.cache/pip/wheels/65/ed/40/67fedb2120d5f5350273bb47b97c7e5e84452482a321056934
  Running setup.py bdist_wheel for aiohttp ... done
  Stored in directory: /root/.cache/pip/wheels/15/aa/5f/33df380f4940b1c1bda8d83967345fcb97d0749e2cfbb06794
  Running setup.py bdist_wheel for wrapt ... done
  Stored in directory: /root/.cache/pip/wheels/b1/c2/ed/d62208260edbd3fa7156545c00ef966f45f2063d0a84f8208a
  Running setup.py bdist_wheel for multidict ... done
  Stored in directory: /root/.cache/pip/wheels/e7/05/d2/f5c04c29d0e4b234dbcd4b609b51f8c65d67ff9bbd01c904b1
  Running setup.py bdist_wheel for yarl ... done
  Stored in directory: /root/.cache/pip/wheels/dc/fc/db/bca151751ff7119f584686572f716c4b35637210a3e52f6050
  Running setup.py bdist_wheel for idna-ssl ... done
  Stored in directory: /root/.cache/pip/wheels/d3/00/b3/32d613e19e08a739751dd6bf998cfed277728f8b2127ad4eb7
Successfully built aiobotocore aiohttp wrapt multidict yarl idna-ssl
requests 2.18.4 has requirement urllib3<1.23,>=1.21.1, but you'll have urllib3 1.26.4 which is incompatible.
boto3 1.9.7 has requirement botocore<1.13.0,>=1.12.7, but you'll have botocore 1.19.52 which is incompatible.
awscli 1.16.17 has requirement botocore==1.12.7, but you'll have botocore 1.19.52 which is incompatible.
Installing collected packages: typing-extensions, zipp, importlib-metadata, fsspec, urllib3, botocore, multidict, async-timeout, yarl, idna-ssl, aiohttp, wrapt, aioitertools, aiobotocore, s3fs
  Found existing installation: urllib3 1.22
    Uninstalling urllib3-1.22:
      Successfully uninstalled urllib3-1.22
  Found existing installation: botocore 1.12.7
    Uninstalling botocore-1.12.7:
      Successfully uninstalled botocore-1.12.7
Successfully installed aiobotocore-1.2.2 aiohttp-3.7.4.post0 aioitertools-0.7.1 async-timeout-3.0.1 botocore-1.19.52 fsspec-0.8.7 idna-ssl-1.1.0 importlib-metadata-3.7.3 multidict-5.1.0 s3fs-0.5.1 typing-extensions-3.7.4.3 urllib3-1.26.4 wrapt-1.12.1 yarl-1.6.3 zipp-3.4.1
Requirement already satisfied: boto in /opt/conda/lib/python3.6/site-packages (2.48.0)

/opt/conda/lib/python3.6/site-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.26.4) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

## Step 1

### Scope
The scope of this porject is to build a datalake with some demographic, geographic data (temperature, us-cities demograpgics and imigration data) and data about airports and it's cities. Once the data is stored and transformed in a refined form, this could result in a statiscal model like a Logistic Regression, to understand for example, what are the demograpgics characteristics of the US Cities that attract people from around the world. We could also use a time series model like The SARIMA model class, to forecast the temperature and understand climtate's change.
### Describe and Gather Data
There are 4 datasets:
- airport-codes: has some informations from airports arround the round, like it's cordinates, the country, city, etc. The data was provided by Datahub.
- Imigration data: this data come's from the US National Tourism and Trade Office. Here there are data about international visitor arrival statistics by world regions and select countries (including top 20), type of visa, mode of transportation, age groups, states visited (first intended address only).
- us-cities-demographics: this data was provided by OpenSoft, and contains demographics information about the cities of the USA,  like median age, born average, male and female population, etc.
-  world temperature data: this data is provided by Kaggle, and has data about the temperature arround the world, for the purpose of studying the climate change.The data is a time series of many locations arround the world, containing the average temperature and average temperature uncertainty

In [37]:
def collect_raw_data():
    '''
    get the data with the API
    response=requests.get('https://public.opendatasoft.com/api/records/1.0/download/?dataset=us-cities-demographics')

    raw_df = pd.DataFrame([x.split(';') for x in response.text.split('\n')],)
    headers = raw_df.iloc[0]
    df_us_cities  = pd.DataFrame(raw_df.values[1:], columns=headers)
    '''
    df_us_cities=pd.read_csv('us-cities-demographics.csv',sep=';')
    df_us_cities.head(1)

    # Airport data
    df_airport=pd.read_csv('airport-codes_csv.csv')


    # Temperature data
    fname = '../../data2/GlobalLandTemperaturesByCity.csv'
    df_temperature = pd.read_csv(fname)


    spark = SparkSession \
            .builder \
            .config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11,org.apache.hadoop:hadoop-aws:2.7.2") \
            .config("fs.s3a.access.key", os.environ['AWS_ACCESS_KEY_ID']) \
            .config("fs.s3a.secret.key", os.environ['AWS_SECRET_ACCESS_KEY']) \
            .getOrCreate()
    df_imigration =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat')
    return(df_us_cities,df_airport,df_temperature,df_imigration)

In [38]:
df_us_cities,df_airport,df_temperature,df_imigration=collect_raw_data()

### Step 2: Explore and Assess the Data
#### Explore the Data  and Cleaning Steps
Here it's gonna be identified and document the steps of cleaning data for each dataset. The function check_dataframe was build to check the datatype and the NaN values for each column
##### check_dataframe function:

In [25]:
def check_dataframe(df,spark):
    if spark==False:
        df_size=len(df)
        df_duplicated=len(df.drop_duplicates())
        df_any_na=len(df[df.isna().any(axis=1)])
        if (df_size == df_duplicated):
            print ('No Duplicated data. Data has',df_size,'rows.')
            print('There are', df_any_na,'rows with data missing in at least one column. This represents',round((df_any_na/df_size)*100,2),'% of rows.')
        else:
            print('Duplicated data, needs check')
            print('There are', df_any_na,'rows with data missing in at least one column. This represents',round((df_any_na/df_size)*100,2),'% of rows.')
        print('Counts of NaN in columns')
        df_na=pd.DataFrame(df.isna().sum().rename('NaN count'))
        df_types=pd.DataFrame(df.dtypes.rename('types'))
        df_summary=df_na.merge(df_types,left_index=True, right_index=True)
        return (df_summary)
    
    else:
        df_size=df.count()
        df_duplicated=(df_size - df.drop_duplicates().count())
        if df_duplicated==0:
            print ('No Duplicated data. Data has',df_size,'rows.')
        else:
            print('Duplicated data, needs check')
        df_na=df_imigration.agg(*[F.count(F.when(F.isnull(c), c)).alias(c) for c in df_imigration.columns]).toPandas().T
        df_types=pd.DataFrame(df_imigration.dtypes).set_index([0])
        df_summary=df_na.merge(df_types,left_index=True, right_index=True)
        df_types=pd.DataFrame(df_imigration.dtypes).set_index([0])
        df_summary=df_na.merge(df_types,left_index=True, right_index=True)
        df_summary.columns=['NaN count','types']
        return(df_summary)

## Airport data

In [26]:
df_airport.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [27]:
check_dataframe(df_airport,spark=False)

No Duplicated data. Data has 55075 rows.
There are 54397 rows with data missing in at least one column. This represents 98.77 % of rows.
Counts of NaN in columns

              NaN count    types
ident                 0   object
type                  0   object
name                  0   object
elevation_ft       7006  float64
continent         27719   object
iso_country         247   object
iso_region            0   object
municipality       5676   object
gps_code          14045   object
iata_code         45886   object
local_code        26389   object
coordinates           0   object

There are some columns that have NaN values. Most of these data  could be obtained using the coordinates , since they are never missing, resulting in a good or perfect aproximation. We are going to use pycountry to do this for us.

In [28]:
# Get country code that are missing
import pycountry_convert as pc
def get_continent_name(row):
    try:
        return  (pc.country_alpha2_to_continent_code(row['iso_country']))
    except:
        return float('nan')
df_airport['continent_formated']=df_airport.apply(get_continent_name,axis=1)

# US cities data

In [29]:
df_us_cities.head(5)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [30]:
check_dataframe(df_us_cities,spark=False)

No Duplicated data. Data has 2891 rows.
There are 16 rows with data missing in at least one column. This represents 0.55 % of rows.
Counts of NaN in columns

                        NaN count    types
City                            0   object
State                           0   object
Median Age                      0  float64
Male Population                 3  float64
Female Population               3  float64
Total Population                0    int64
Number of Veterans             13  float64
Foreign-born                   13  float64
Average Household Size         16  float64
State Code                      0   object
Race                            0   object
Count                           0    int64

Despite the NaN, they repsent's just a little of the dataframe, and this rows still have a lot of data, so it doesn't make sense drop it. But we can't get this data either, so we should let this as NaN

# Temperature Data

In [31]:
df_temperature.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [32]:
check_dataframe(df_temperature,spark=False)

No Duplicated data. Data has 8599212 rows.
There are 364130 rows with data missing in at least one column. This represents 4.23 % of rows.
Counts of NaN in columns

                               NaN count    types
dt                                     0   object
AverageTemperature                364130  float64
AverageTemperatureUncertainty     364130  float64
City                                   0   object
Country                                0   object
Latitude                               0   object
Longitude                              0   object

All the data that is missing are temperature data, that we could not obtain with something like an API. Also, using the previous temperature would not be a good aproximation, since lot's of cities have missing data on consecutive days.

# Imigration data

In [39]:
pd.set_option('display.max_columns',50)
df_imigration.limit(10).toPandas()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,7.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,20.0,3.0,1.0,None,None,None,T,None,None,None,1996.0,D/S,M,None,LH,346608285.0,424,F1
1,8.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,20.0,3.0,1.0,None,None,None,T,None,None,None,1996.0,D/S,M,None,LH,346627585.0,424,F1
2,9.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20480.0,17.0,2.0,1.0,None,None,None,T,N,None,M,1999.0,07152016,F,None,AF,381092385.0,338,B2
3,10.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,45.0,2.0,1.0,None,None,None,T,N,None,M,1971.0,07152016,F,None,AF,381087885.0,338,B2
4,11.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,12.0,2.0,1.0,None,None,None,T,N,None,M,2004.0,07152016,M,None,AF,381078685.0,338,B2
5,12.0,2016.0,1.0,101.0,101.0,BOS,20474.0,1.0,MA,NaN,33.0,2.0,1.0,None,None,None,T,None,None,None,1983.0,07202016,M,None,LH,406155985.0,424,B2
6,15.0,2016.0,1.0,101.0,101.0,BOS,20477.0,1.0,MA,20524.0,28.0,3.0,1.0,None,None,None,T,O,None,M,1988.0,D/S,F,None,LH,417363085.0,424,F1
7,17.0,2016.0,1.0,101.0,101.0,BOS,20480.0,1.0,MA,NaN,78.0,2.0,1.0,None,None,None,T,None,None,None,1938.0,07262016,M,None,TK,428558285.0,81,B2
8,18.0,2016.0,1.0,101.0,101.0,BOS,20480.0,1.0,MA,NaN,70.0,2.0,1.0,None,None,None,T,None,None,None,1946.0,07262016,F,None,TK,428561085.0,81,B2
9,20.0,2016.0,1.0,101.0,101.0,CHI,20473.0,1.0,IL,20482.0,28.0,2.0,1.0,None,None,None,T,O,None,M,1988.0,07192016,M,None,BA,401779785.0,295,B2

Looks like we have some columns in SAS format that we are gonna need to convert.Also, since we are only interested in the columns for building a statistical model for understanding the reasons of immirgration across the USA, we are gonna select those columns:
1. i94addr
2. biryear
3. i94port
4. arrdate
5. gender

In [40]:
pd.set_option('display.max_columns',50)
df_imigration.select('i94addr','biryear','i94port','arrdate','gender').limit(10).toPandas()

  i94addr  biryear i94port  arrdate gender
0      MA   1996.0     BOS  20465.0      M
1      MA   1996.0     BOS  20465.0      M
2      CT   1999.0     BOS  20469.0      F
3      CT   1971.0     BOS  20469.0      F
4      CT   2004.0     BOS  20469.0      M
5      MA   1983.0     BOS  20474.0      M
6      MA   1988.0     BOS  20477.0      F
7      MA   1938.0     BOS  20480.0      M
8      MA   1946.0     BOS  20480.0      F
9      IL   1988.0     CHI  20473.0      M

In [41]:
def date_add_(date, days):

    # Type check and convert to datetime object
    # Format and other things should be handle more delicately
    if type(date) is not datetime:
        date = datetime.strptime('1960-01-01', "%Y-%m-%d")
    return date + timedelta(days)


date_add_udf = F.udf(date_add_, t.DateType())
df_imigration = df_imigration.withColumn('sas_date', lit("1960-01-01"))
df_imigration=df_imigration.withColumn('actual_arrival_date', date_add_udf(F.to_date('sas_date'), 'arrdate')).drop('sas_date')
df_imigration.limit(10).toPandas()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype,actual_arrival_date
0,7.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,20.0,3.0,1.0,None,None,None,T,None,None,None,1996.0,D/S,M,None,LH,346608285.0,424,F1,2016-01-12
1,8.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,20.0,3.0,1.0,None,None,None,T,None,None,None,1996.0,D/S,M,None,LH,346627585.0,424,F1,2016-01-12
2,9.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20480.0,17.0,2.0,1.0,None,None,None,T,N,None,M,1999.0,07152016,F,None,AF,381092385.0,338,B2,2016-01-16
3,10.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,45.0,2.0,1.0,None,None,None,T,N,None,M,1971.0,07152016,F,None,AF,381087885.0,338,B2,2016-01-16
4,11.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,12.0,2.0,1.0,None,None,None,T,N,None,M,2004.0,07152016,M,None,AF,381078685.0,338,B2,2016-01-16
5,12.0,2016.0,1.0,101.0,101.0,BOS,20474.0,1.0,MA,NaN,33.0,2.0,1.0,None,None,None,T,None,None,None,1983.0,07202016,M,None,LH,406155985.0,424,B2,2016-01-21
6,15.0,2016.0,1.0,101.0,101.0,BOS,20477.0,1.0,MA,20524.0,28.0,3.0,1.0,None,None,None,T,O,None,M,1988.0,D/S,F,None,LH,417363085.0,424,F1,2016-01-24
7,17.0,2016.0,1.0,101.0,101.0,BOS,20480.0,1.0,MA,NaN,78.0,2.0,1.0,None,None,None,T,None,None,None,1938.0,07262016,M,None,TK,428558285.0,81,B2,2016-01-27
8,18.0,2016.0,1.0,101.0,101.0,BOS,20480.0,1.0,MA,NaN,70.0,2.0,1.0,None,None,None,T,None,None,None,1946.0,07262016,F,None,TK,428561085.0,81,B2,2016-01-27
9,20.0,2016.0,1.0,101.0,101.0,CHI,20473.0,1.0,IL,20482.0,28.0,2.0,1.0,None,None,None,T,O,None,M,1988.0,07192016,M,None,BA,401779785.0,295,B2,2016-01-20

In [42]:
check_dataframe(df_imigration,spark=True)

No Duplicated data. Data has 2847924 rows.

                     NaN count   types
0
cicid                        0  double
i94yr                        0  double
i94mon                       0  double
i94cit                       0  double
i94res                       0  double
i94port                      0  string
arrdate                      0  double
i94mode                     60  double
i94addr                 177129  string
depdate                 522612  double
i94bir                    1190  double
i94visa                      0  double
count                        0  double
dtadfile                 90486  string
visapost               1386375  string
occup                  2802355  string
entdepa                     61  string
entdepd                 521813  string
entdepu                2847880  string
matflag                 521813  string
biryear                   1190  double
dtaddto                    707  string
gender                  216929  string
insnum                 2709236  string
airline                  61279  string
admnum                       0  double
fltno                    12232  string
visatype                     0  string
actual_arrival_date          0    date

## Step 3: The data model
The conceptual model that is gonna be used is a datalake. Since the purpose of the project is to collect, store and transform data that a team of data science could work, resulting for example a statiscal model / machine learning model, we need the data stored in the raw form, and in the refined form. For this, we are gonna use the AWS S3. Basicly, these are the steps necessaries:
1. Collect the data.
2. Load the data in it's raw form, that we are gonna call "transient" in S3.
3. Refine the data dealing with NaN, duplicates.
4. Load the data refined back to S3  and loading in the .parquet partioned if the data is too large.
5. Run some data quality checks.

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [47]:
def collect_raw_data():
    '''
    get the data with the API
    response=requests.get('https://public.opendatasoft.com/api/records/1.0/download/?dataset=us-cities-demographics')

    raw_df = pd.DataFrame([x.split(';') for x in response.text.split('\n')],)
    headers = raw_df.iloc[0]
    df_us_cities  = pd.DataFrame(raw_df.values[1:], columns=headers)
    '''
    df_us_cities=pd.read_csv('us-cities-demographics.csv',sep=';')
    df_us_cities.head(1)

    # Airport data
    df_airport=pd.read_csv('airport-codes_csv.csv')


    # Temperature data
    fname = '../../data2/GlobalLandTemperaturesByCity.csv'
    df_temperature = pd.read_csv(fname)
    # Creating spark session
    spark = SparkSession \
            .builder \
            .config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11,org.apache.hadoop:hadoop-aws:2.7.2") \
            .config("fs.s3a.access.key", os.environ['AWS_ACCESS_KEY_ID']) \
            .config("fs.s3a.secret.key", os.environ['AWS_SECRET_ACCESS_KEY']) \
            .getOrCreate()
    df_imigration =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat')
    return(df_us_cities,df_airport,df_temperature,df_imigration)

In [48]:
def load_to_s3_transient(dataframe,folder_name,s3_filename,spark):
    if spark==False:
        bytes_to_write = dataframe.to_csv(None).encode()
        fs = s3fs.S3FileSystem(key=os.environ['AWS_ACCESS_KEY_ID'], secret=os.environ['AWS_SECRET_ACCESS_KEY'])
        with fs.open('s3://myawsbuckethermit97/transient/{0}/{1}.csv'.format(folder_name,s3_filename), 'wb') as f:
            f.write(bytes_to_write)
    else:
        dataframe.write.mode('overwrite').format("csv").save('s3a://myawsbuckethermit97/transient/{0}/{1}.csv'.format(folder_name,s3_filename))

In [49]:
def tansform_data(df_airport,df_imigration):
    import pyspark.sql.functions as f
    import pyspark.sql.types as t
    from datetime import datetime
    from datetime import timedelta
        # Getting continent for airport data
    def get_continent_name(row):
        try:
            return  (pc.country_alpha2_to_continent_code(row['iso_country']))
        except:
            return float('nan')
        df_airport['iso_country']=df_airport.apply(get_continent_name,axis=1)
    
    # Selecting columns in imigration data
    df_imigration=df_imigration.select('i94addr','biryear','i94port','arrdate','gender','airline')
    
    # Formating sas date
    def date_add_(date, days):
        if type(date) is not datetime:
            date = datetime.strptime('1960-01-01', "%Y-%m-%d")
        return date + timedelta(days)
    date_add_udf = f.udf(date_add_, t.DateType())
    df_imigration = df_imigration.withColumn('sas_date', lit("1960-01-01"))
    df_imigration=df_imigration.withColumn('actual_arrival_date', date_add_udf(f.to_date('sas_date'), 'arrdate')).drop('sas_date')
    return(df_airport,df_imigration)

In [50]:
def load_to_s3_refined(dataframe,folder_name,s3_filename,spark):
    if spark==False:
        bytes_to_write = dataframe.to_csv(None).encode()
        fs = s3fs.S3FileSystem(key=os.environ['AWS_ACCESS_KEY_ID'], secret=os.environ['AWS_SECRET_ACCESS_KEY'])
        with fs.open('s3://myawsbuckethermit97/refined/{0}/{1}.csv'.format(folder_name,s3_filename), 'wb') as f:
            f.write(bytes_to_write)
    else:
        dataframe.write.mode('overwrite').format("csv").save('s3a://myawsbuckethermit97/refined/{0}/{1}.csv'.format(folder_name,s3_filename))

In [51]:
def etl():
    print('Collecting data')
    df_us_cities,df_airport,df_temperature,df_imigration=collect_raw_data()
    print('Loading regular raw data into S3!')
    load_to_s3_transient(df_airport,'airport_data','airport-codes',spark=False)
    load_to_s3_transient(df_temperature,'temperature_data','world_temperature_time_series',spark=False)
    load_to_s3_transient(df_us_cities,'us_cities_data','us_cities_demographics',spark=False)
    print('Loading raw big data into S3!')
    load_to_s3_transient(df_imigration,'imigration_data','sas_data',spark=True)
    print('Transforming Data!')
    df_airport,df_imigration=tansform_data(df_airport,df_imigration)
    print('Loading regular refined data into S3!')
    load_to_s3_refined(df_airport,'airport_data','airport-codes',spark=False)
    print('Loading refined big data into S3!')
    load_to_s3_refined(df_imigration,'imigration_data','sas_data',spark=True)

In [52]:
etl()

Collecting data
Loading regular raw data into S3!
Loading raw big data into S3!
Transforming Data!
Loading regular refined data into S3!
Loading refined big data into S3!

#### 4.2 Data Quality Checks
1. Check if files are present on S3
2. Count of rows in each csv file

In [54]:
client = boto3.client('s3', aws_access_key_id=os.environ['AWS_ACCESS_KEY_ID'],
        aws_secret_access_key=os.environ['AWS_SECRET_ACCESS_KEY'])

my_bucket = 'myawsbuckethermit97'

s3_files=[]
for key in client.list_objects(Bucket=my_bucket)['Contents']:
    s3_files.append(key['Key'])

In [55]:
def check_files(state):
    if state=='transient':
        datasets=['airport','us_cities','temperature']
    elif state=='refined':
        datasets=['airport','imigration']
    
    for dataset in datasets:
        count_occurence=(sum(dataset in file for file in s3_files))
        if count_occurence==0:
            raise ValueError('{} is not in s3!'.format(dataset))
        else:
            print(dataset,'is present in the {} state!'.format(state))

In [58]:
def check_files_lenght():
    for file in s3_files:
        if 'SUCCESS' not in file:
            print(file)
            object_key = file
            csv_obj = client.get_object(Bucket=my_bucket, Key=object_key)
            body = csv_obj['Body']
            csv_string = body.read().decode('utf-8')
            df_check = pd.read_csv(StringIO(csv_string))
            file_lenght=len(df_check)
            if file_lenght>0:
                print('Csv is fine. Data has {} rows'.format(file_lenght))
            if file_lenght==0:
                raise ValueError('The csv is empty!')

In [59]:
check_files('transient')
check_files('refined')
check_files_lenght()

airport is present in the transient state!
us_cities is present in the transient state!
temperature is present in the transient state!
airport is present in the refined state!
imigration is present in the refined state!
refined/airport_data/airport-codes.csv
Csv is fine. Data has 55075 rows
refined/imigration_data/sas_data.csv/part-00000-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 219267 rows
refined/imigration_data/sas_data.csv/part-00001-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00002-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00003-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00004-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00005-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00006-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00007-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00008-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00009-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00010-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00011-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 220159 rows
refined/imigration_data/sas_data.csv/part-00012-7283a4e0-f32e-4761-a243-0626eeece1b2-c000.csv
Csv is fine. Data has 206895 rows
transient/airport_data/airport-codes.csv
Csv is fine. Data has 55075 rows
transient/imigration_data/sas_data.csv/part-00000-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2907: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Csv is fine. Data has 219267 rows
transient/imigration_data/sas_data.csv/part-00001-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00002-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00003-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00004-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00005-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00006-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00007-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00008-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00009-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00010-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv
Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00011-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2907: DtypeWarning: Columns (18,23) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Csv is fine. Data has 220159 rows
transient/imigration_data/sas_data.csv/part-00012-a25f511f-1d97-4b5f-8cc0-822f98e665e4-c000.csv

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2907: DtypeWarning: Columns (15,18,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Csv is fine. Data has 206895 rows
transient/temperature_data/world_temperature_time_series.csv
Csv is fine. Data has 8599212 rows
transient/us_cities_data/us_cities_demographics.csv
Csv is fine. Data has 2891 rows

#### 4.3 Data dictionary

##### Imigration Data

1. i94addr - string - the state that receives the immigrant
2. biryear - date - birth year of the immigrant
3. i94port - string - Aiport of arrival
4. arrdate - date - Date of arrival
5. gender - date - Gender of the immigrant
6. airline - imigrant's airline code 

##### Temperature Data


1. dt - string - Date of temperature
2. AverageTemperature - numeric - Average temperature
3. AverageTemperatureUncertainty - Uncertainty of temperature
4. City - string - The city that has the temperature's mesuare
5. Country - string -  The country that has the temperature's mesuare
6. Latitude - string - The latitude that has the temperature's mesuare
7. Longitude - string - The longitude that has the temperature's mesuare

##### US Cities Data

1. City - string - USA's city
2. State - string - USA's state
3. Median Age - numeric - cities's population's median age
4. Male Population - numeric - number of male population
5. Female Population - numeric - number of female population
6. Total Population - int  - number of total population
7. Number of Veterans - numeric - number of veterans in that city
8. Foreign-born - numeric - number of foreign born in that city
9. Average Household Size - numeric - 
10. State Code - string - the code of the state of the city
11. Race - string - the race that is majoritary
12. Count - int - count

#### Airport Data
1. ident - string - Identify the airport
2. type - string - Type of the airport (small, medium, large)
3. name - string - Name of the Airport
4. elevation_ft - numeric - The elevation fit metric
5. continent - string - Continent of the airport
6. iso_country - string - Country code where the airport is located
7. iso_region - string - State code where the airport is located
8. municipality - string - City where the airport is located
9. gps_code - string - Gps code where the airport is located
10. iata_code - string -  Airport code, also known as an IATA location identifier, IATA station code, or simply a location identifier
11. local_code - string - Local code where the airport is located
12. coordinates - string - Coordinates where the airport is located (latitude, longitude)

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.

#### Clearly state the rationale for the choice of tools and technologies for the project:
The choice of technology of the datalake was made by some reasons:
1. Store cost and storage architeture-  S3 is known by it's cheap cost of storing data. 
2. Scalability - S3 is also know for it's scalability. According to AWS  "Amazon S3 provides an optimal foundation for a data lake because of its virtually unlimited scalability. You can seamlessly and nondisruptively increase storage from gigabytes to petabytes of content, paying only for what you use". 
3. Standardized APIs - We can easily use python and pyspark framework through the Standardized APIs  to store and retrieve data. 
4. Dealing with Big Data - As data grows, an ec2 will be necessary. With S3 you can easily integrate both solutions.

#### Propose how often the data should be updated and why:
Data should be updated monthly. This because, since we are dealing with time series data, we need a substantial period to understand and build a statistical model for the climate change and imigration, since the effect of human action in the case of the climate change data, or economical and political effects in the imigration moviment need's time.

###  Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.
 
#### The data was increased by 100x.
In this case, we probably would need an ec2 instance and also use the pyspark framework to deal with all datasets, since the volume would excessed a local machine hability to deal with de data. With s3 we would only need to increse storage.

#### The data populates a dashboard that must be updated on a daily basis by 7am every day.
S3 has a conector for Powerbi, possibiliting a direct conection every day. The ETL should run on a daily basis, and once this happens, we only need to set the gateway to update de data source everyday. There is also the possibility to use a python script as a data source, retrieving the data with boto for example.

####  The database needed to be accessed by 100+ people.
Since all the data is public, we could set the S3 bucket also as public. These way, there is no need to create 100 of IAM users.